:root {
  /* COLORS */
  --clr-orange-400: 25 97% 53%;
  --clr-blue-800: 213 19% 18%;
  --clr-blue-900: 216 12% 8%;
  --clr-grey-300: 217 12% 63%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-overpass: "Overpass", sans-serif;

  /* FONT WEIGHTS */
  --fw-normal: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  display: block;
  font: inherit;
  background: none;
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: transparent;
}
